.App {
  font-size: 10px;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: bisque;
  color: darkcyan;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
}

.label {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin:auto;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.6rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 5px 15px;
}

.button {
  margin: 0 10px ;
  background-color: darkcyan;
  border: 1px solid;
  border-radius: 20px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: background-color 250ms;
  color: azure;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5 px red;
  margin-bottom: 2rem;
  background-color: white;
}

.card-list {
  margin-top: 4rem;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}
